{% extends 'base.html' %}
{% block content %}
<div class="login-page-container cal-sans-regular">
  <h1 class="">Welcome Back</h1>
  <form method="POST" class="form-login">
    {% csrf_token %}
    <input name="username" class="form-control mb-2" placeholder="Username" required>
    <input name="password" type="password" class="form-control mb-2" placeholder="Password" required>
    <button class="btn btn-success">Login</button>
  </form>
  <div class="login-page-register">
    <p>
      New here? <a href="{%url 'register'%}">Register Now</a>
    </p>
    
  </div>
</div>
{% endblock %}