@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hero {
    position: relative;
    z-index: 0;
}

.hero-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 6rem;
    font-weight: 700;
}

.hero-text p {
    font-size: 1.2rem;
}

.login-button-container {
    height: 50px;
    width: 90px;
    border-radius: 3px;
    background-color: green;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.login-button-container:hover{
    background-color: rgb(2, 153, 2);
    scale: 1.1;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: larger;
    color: black;
}