{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="detail-container">

  <div class="detail-card">

    <h2 class="detail-title">{{ item.title }}</h2>

    {% if item.image %}
    <img src="{{ item.image.url }}" class="detail-image">
    {% endif %}

    <p class="detail-description">{{ item.description }}</p>

    <p class="detail-meta">
      <strong>Category:</strong> {{ item.category }}  
      &nbsp;•&nbsp;
      <strong>Location:</strong> {{ item.location }}
    </p>


    <h4 class="mt-4">Possible Found Matches</h4>
    <ul class="matches-list">
      {% for m in matches %}
        <li><a href="{% url 'found_detail' m.id %}">{{ m.title }}</a></li>
      {% empty %}
        <li>No matches found</li>
      {% endfor %}
    </ul>

  </div>

</div>

{% endblock %}
